<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
        
    <head>
        <title>Descripción de película</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div layout:fragment="body">
            <div class="container mt-4">

               

     
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.poster_path}}"
                                 th:alt="${movie.title}" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${movie.title}">Título de la película</h5>
                                <p class="card-text"><strong>Resumen:</strong> <span th:text="${movie.overview}">...</span></p>
                                <p class="card-text"><strong>Popularidad:</strong> <span th:text="${movie.popularity}">0</span></p>
                                <p class="card-text"><strong>Estreno:</strong> <span th:text="${movie.release_date}">fecha</span></p>
                                <p class="card-text"><strong>Idioma:</strong> <span th:text="${movie.original_language}">Idioma</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </body>
</html>

